body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div#map {
  width: 100%;
  height: 90vh;
  background-color: #F7B617;
}

#encuentrame, #trazar-ruta {
	width: 100%;
	height: auto;
	background-color: #F7B617;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  background-color: #F7B617;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 10px 20px 0;
  margin: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}